#myWork{
  /* font-family: 'Alegreya Sans SC', sans-serif; */
  color:white;
  border-bottom: 2px solid currentColor;
  background-color:transparent;
  margin-left:40%;
  margin-right:40%;
  font-size:3vw;
  font-family: 'Bitter', serif;
}

#got{
  height:15vw;
  width:13vw;
  border-radius: 50%;
}

#got:hover{
  border-radius: 50%;
  opacity:.5;
  font-size:2vw;
  }

#workGame{
  position: relative;
  text-align: center;
  color: white;
  height:100%;
  width:30%;
  /* display:flex; */

  }  

#dog{
  height:15vw;
  width:13vw;
  border-radius: 50%;
  
}

#dog:hover{
  border-radius: 50%;
  opacity:.5;
  font-size:2vw;
}
  
.centered {
  position: absolute;
  top: 70%;
  left: 22%;
  transform: translate(-50%, -50%);
  font-size:1.8vw;
  /* font-family: 'Alegreya Sans SC', sans-serif; */
  width:300%;
  font-family: 'Bitter', serif;
font-weight: 500;
}
        

  #workGame2{
    position: relative;
    text-align: center;
    color: white;
    height:19vw;
    width:35%;
    /* display:flex;
    flex-direction: row; */
  }
  
  #workGame3{
    position: relative;
    text-align: center;
    color: white;
    height:19vw;
    width:35%;
    /* display:flex;
    flex-direction: row; */
  }



  
  .centered2 {
    position: absolute;
    top: 52%;
    left: 20%;
    transform: translate(-50%, -50%);
    font-size:1.8vw;
    /* font-family: 'Alegreya Sans SC', sans-serif; */
    width:300%;
  }


  .centered3 {
    position: absolute;
    top: 52%;
    left: 20%;
    transform: translate(-50%, -50%);
    font-size:1.8vw;
    font-family: 'Bitter', serif;

    /* font-family: 'Alegreya Sans SC', sans-serif; */
    width:300%;
  }


  #clean{
      height:15vw;
      width:13vw;
      border-radius: 50%;
  }



  #clean:hover{
    border-radius: 50%;
    opacity:.5;
    font-size:2vw;
  }

  #projects{
    display:flex;
    width:80%;
    flex-wrap:wrap;
    /* flex-flow: column wrap; */
    justify-content: space-evenly;
    margin-left:12%;
    margin-right:10%;
    /* border:2px solid red; */
  }


  #todo{
    height:15vw;
    width:13vw;
    border-radius: 50%;
}

#todo:hover{
  border-radius: 50%;
  opacity:.5;
  font-size:2vw;
}


.centered4 {
  position: absolute;
  top: 52%;
  left: 20%;
  transform: translate(-50%, -50%);
  font-size:1.8vw;
  /* font-family: 'Alegreya Sans SC', sans-serif; */
  width:300%;
  font-family: 'Bitter', serif;

}


#workGame4{
  position: relative;
  text-align: center;
  color: white;
  height:19vw;
  width:35%;
  /* display:flex;
  flex-direction: row; */
}




#burgerStack{
  height:15vw;
  width:13vw;
  opacity:.5;
  border-radius: 50%;
}

#burgerStack:hover{
border-radius: 50%;
opacity:.2;
font-size:2vw;
}


.centered5 {
position: absolute;
top: 52%;
left: 20%;
transform: translate(-50%, -50%);
font-size:1.8vw;
/* font-family: 'Alegreya Sans SC', sans-serif; */
width:300%;
font-family: 'Bitter', serif;

}


#workGame5{
position: relative;
text-align: center;
color: white;
height:19vw;
width:35%;
/* display:flex;
flex-direction: row; */
}



.particles-box {
  position: absolute;
  margin-top:50px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* z-index: -1; */
}




#skills{
  color:white;
  border-bottom: 2px solid currentColor;
  background-color:transparent;
  margin-left:40%;
  margin-right:40%;
  font-family: 'Bitter', serif;
  font-size:3vw;

}





/* this is the color of the line in the skills card */
.kKSsod::after {
  position: absolute;
  left: 50%;
  width: 2px;
  height: 100%;
  background-color:purple !important;
  color:rgb(4, 87, 55);
  content: '';
}


/* this is the color of the ball on the skill card */
.bxAjMs.bxAjMs{
  border:4px solid teal! important;
}


/* this is the size of the skills card */
.sc-crrsfI{
  width:50%!important;
}