* {
  font-family: 'Bitter', serif;
}


/* CODE FOR NAV BAR */

.nav{
    height:5vh;
    background-color:rgb(54, 52, 52);
    /* z-index: 2; */
    border-bottom:1px solid teal;
    display:flex;
    justify-content: center;
}

/* #linkContainer{
    display:flex;
    justify-content: center;
   top:-100px;
   z-index: 1;
} */

.links{
 color:white;
 /* font-family: 'Alegreya Sans SC', sans-serif; */
 font-size:2vw;
 /* height:100%; */
 /* z-index: 1; */
 font-family: 'Bitter', serif;
 /* margin-top: 10%; */
}

.links:hover{
    color: rgb(0, 119, 128);
    background-color:transparent;
    text-decoration: underline;
}


.li{
    margin-top:-.5vw;
}

/* CODE FOR FOOTER  */
footer{
    /* position: fixed; */
    left: 0;
    bottom: 0;
    width: 100%;
    height:5%;
    background-color:transparent;
    color: white;
    text-align: center;
    justify-content: center;

}

#footerText{
    font-size:1vw;
    text-align: center;
    margin-top:1.5vw;
}



.name{
  font-weight:100; 
  padding-top:90px;
  color:white;
  font-size:8vw;
  letter-spacing: 8px;
  font-family: 'Bitter', serif;
}

#welcome{
  width:70%;

  text-align:center;
  color:white;
  /* font-family: 'Raleway', sans-serif; */
  text-align: left;
  margin-left:15%;
  margin-top:-5vw;
  font-size:1.5vw;
  font-family: 'Bitter', serif;
/* border:1px solid red; */
}




#welcomeP{
  font-size:2vw;
  /* border:1px solid red; */
  /* width:80vw; */
  /* margin-left:-20vw; */
}

#welcomeLineOne{
  font-size:2.5vw;
  /* margin-left:-20vw; */

}

#selfie{
        border-radius: 50%;
        height:15vw;
        width:13vw;
        border:1px solid white;
        
}


.developer{
    /* font-family: 'Julius Sans One', sans-serif; */
    padding-top:0px;
    color:white;
    font-size:2vw;
}









/* BACKGROUND IMG GRADIENT CODE */
 main{
    margin-top:-50px;
}

 *{
    margin:0;
    padding:0;
    box-sizing:border-box;
  }
  html,body{
    height:100%;
  } 
   /* .app{
  background: -webkit-linear-gradient(to left, #2C5364, #203A43, #2b5b70);  
  background: linear-gradient(to left, #49798d, #203A43, #0F2027);
  height:100%;
  width:100%;
  } */




  /* CODE FOR THE SQUARES BELOW */
  /* #liAnimation{
    display:block;
    width:100%;
    height:inherit;
  }
  #liAnimation{
    list-style-type:none;
  }
  #li1{
    position:absolute;
    left:10%;
    height:30px;
    width:30px;
    background:rgba(255,255,255,.2);
  }
  #li2
  {
    position:absolute;
    left:30%;
    height:45px;
    width:45px;
    background:rgba(255, 255, 255, 0.532);
  }
  #li3
  {
    position:absolute;
    left:50%;
   
    height:70px;
    width:70px;
    background:rgba(255, 255, 255, 0.672);
  }
  #li4
  {
    position:absolute;
    left:80%;
  
    height:20px;
    width:20px;
    background:rgba(255, 255, 255, 0.868);
  } */
  /* to make the squares start lower change the time and the -2500 */
  /* #li1{
    animation:animate 9s linear 1s infinite;
  }
  
  #li2{
    animation:animate 7s linear 1s infinite;
  }
  #li3{
    animation:animate 9s linear 1s infinite;
  }
  #li4{
    animation:animate 11s linear 1s infinite;
  }
  @keyframes animate{
    from{
      transform: translateY(+2500%) rotate(180deg)
    }
    to{
      transform: translateY(-50%)
        rotate(360deg)
    } */
  /* }  */




  /* code for the glitch */
  body {
    background-color: #333;
  }
  
  #container {
    width: 50vw;
    margin: 15vw auto;
    margin-top:5vw;
  }
  
  .glitch {
    text-align: center;
    color: #fff;
    font-size: 2vw;
    letter-spacing: 8px;
    font-family: 'Press Start 2P';
    font-weight: 400;
    /* border:2px solid red; */
    width:100%;
    /*Create overlap*/
    margin: 0;
    line-height: 0;
    /*Animation*/
    
    animation: glitch1 2.5s infinite;
  }
  
  .glitch:nth-child(2) {
    color: #67f3da;
    animation: glitch2 2.5s infinite;
  }
  
  .glitch:nth-child(3) {
    color: #f16f6f;
    animation: glitch3 2.5s infinite;
  }
  /*Keyframes*/
  
  @keyframes glitch1 {
    0% {
      transform: none;
      opacity: 1;
    }
    7% {
      transform: skew(-0.5deg, -0.9deg);
      opacity: 0.75;
    }
    10% {
      transform: none;
      opacity: 1;
    }
    27% {
      transform: none;
      opacity: 1;
    }
    30% {
      transform: skew(0.8deg, -0.1deg);
      opacity: 0.75;
    }
    35% {
      transform: none;
      opacity: 1;
    }
    52% {
      transform: none;
      opacity: 1;
    }
    55% {
      transform: skew(-1deg, 0.2deg);
      opacity: 0.75;
    }
    50% {
      transform: none;
      opacity: 1;
    }
    72% {
      transform: none;
      opacity: 1;
    }
    75% {
      transform: skew(0.4deg, 1deg);
      opacity: 0.75;
    }
    80% {
      transform: none;
      opacity: 1;
    }
    100% {
      transform: none;
      opacity: 1;
    }
  }
  
  @keyframes glitch2 {
    0% {
      transform: none;
      opacity: 0.25;
    }
    7% {
      transform: translate(-2px, -3px);
      opacity: 0.5;
    }
    10% {
      transform: none;
      opacity: 0.25;
    }
    27% {
      transform: none;
      opacity: 0.25;
    }
    30% {
      transform: translate(-5px, -2px);
      opacity: 0.5;
    }
    35% {
      transform: none;
      opacity: 0.25;
    }
    52% {
      transform: none;
      opacity: 0.25;
    }
    55% {
      transform: translate(-5px, -1px);
      opacity: 0.5;
    }
    50% {
      transform: none;
      opacity: 0.25;
    }
    72% {
      transform: none;
      opacity: 0.25;
    }
    75% {
      transform: translate(-2px, -6px);
      opacity: 0.5;
    }
    80% {
      transform: none;
      opacity: 0.25;
    }
    100% {
      transform: none;
      opacity: 0.25;
    }
  }
  
  @keyframes glitch3 {
    0% {
      transform: none;
      opacity: 0.25;
    }
    7% {
      transform: translate(2px, 3px);
      opacity: 0.5;
    }
    10% {
      transform: none;
      opacity: 0.25;
    }
    27% {
      transform: none;
      opacity: 0.25;
    }
    30% {
      transform: translate(5px, 2px);
      opacity: 0.5;
    }
    35% {
      transform: none;
      opacity: 0.25;
    }
    52% {
      transform: none;
      opacity: 0.25;
    }
    55% {
      transform: translate(5px, 1px);
      opacity: 0.5;
    }
    50% {
      transform: none;
      opacity: 0.25;
    }
    72% {
      transform: none;
      opacity: 0.25;
    }
    75% {
      transform: translate(2px, 6px);
      opacity: 0.5;
    }
    80% {
      transform: none;
      opacity: 0.25;
    }
    100% {
      transform: none;
      opacity: 0.25;
    }
  }
  
  



  

/* mobile friendly code below */

  @media screen and (min-width: 100px) and (max-width: 480px) {

.links{
  margin-top:-2vw;
  font-size: 2vh;
}

    .glitch {
      text-align: center;
      color: #fff;
      font-size: 3vw;
      letter-spacing: 8px;
      font-family: 'Press Start 2P';
      font-weight: 400;
      /* border:2px solid red; */
      width:80vw;
      /*Create overlap*/
      margin: 0;
      line-height: 0;
      /*Animation*/
      margin-left:-25%;
      animation: glitch1 2.5s infinite;
    }


    #projects{
      margin-top:-1vw;
    }



    #myWork{
      margin-top:-15vw;
    }

    #timelineDiv{
      margin-top:-25vw;
    }

    /* .container-box{
      border:2px solid red;
    } */

    #welcomeP{
      font-size:3vw;
      /* border:1px solid red; */
      width:80vw;
      margin-left:-20vw;
    }

    #welcomeLineOne{
      font-size:4vw;
      margin-left:-20vw;

    }

    .sc-dlfnbm{
      width:100%!important;
      /* border:
       */
    }

.sc-crrsfI{
  width:40%!important;
  height:30%;
  font-size: 2vw;
} 




/* code to move the timeline to center*/
.sc-hKgILt{
  margin-left:40%;
}


/* code ball color inside skills part */
.bxAjMs.bxAjMs{
  border:2px solid teal! important;
}


/* code for the line skills part */
.kKSsod::after {
  position: absolute;
  left: 50%;
  width: 2px;
  height: 100%;
  background-color:purple !important;
  color:rgb(4, 87, 55);
  content: '';
}

#selfie{
   border-radius: 50%; 
  height:18vh;
  width:26vw;
  border:2px solid teal;

}

.sc-hBEYos{
  padding-bottom: -10vw;
}


  }


